* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container {
    max-width: 100%;
    min-width: 320px;
}

.header {
    background: black url(../img/hbg.jpg) top center no-repeat;
    background-size: cover;
    color: white;
    padding: 0 0 240px 0;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 130px 0;
}

.header_menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.header_menu ul li {
    margin: 0 20px;
}

.header_menu ul li a {
    color: white;
    text-decoration: none;
}

.header_menu ul li a:hover {
    text-decoration: underline;
    color: red;
}

.header h1 {
    text-align: center;   
    font-size: 60px;
    margin-bottom: 50px;
}

.header h3 {
    text-align: center;   
    font-size: 28px;
    margin-bottom: 100px;
    font-weight: 300;
}

.header_button {
    text-align: center;
}

.header_button a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid red;
    padding: 10px 25px;
}

.header_button a:hover {
    background-color: red;
}

.feature {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: -80px auto 180px auto;
    flex-wrap: wrap;
}

.feature_element {
    background: #202b30;
    flex-basis: 32%;
    color:white;
    padding: 70px 60px;
    box-sizing: border-box;
}

.feature_element img {
    margin-bottom: 50px;

}

.feature_element h3 {
    font-size: 20px;
    margin-bottom: 25px;
}

.feature_element h3:after {
    content:"";
    width: 50px;
    height: 3px;
    background: white;
    display: block;
    margin-top: 25px;

}

.feature_element p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.service {
    max-width: 1200px;
    margin: 0 auto;
}

.block_title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 120px;
    font-weight: 300;
}

.red {
    color:red;
}

.service_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service_elemen {
    flex-basis: 26%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
}

.service_elemen img {
    margin-bottom: 30px;
}

.service_elemen h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.service_elemen p {
    line-height: 28px;
    font-weight: 300;
    color:#838383;
}

.footer {
    background: #202b30;
}

.footer_block {
    max-width: 1200px;
    margin: 0 auto;
}

.footer_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
}

.footer_menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer_menu ul li {
    margin: 0 20px;
}

.footer_menu ul li a {
    color: white;
    text-decoration: none;
}

.footer_menu ul li a:hover {
    text-decoration: underline;
    color: red;
}

@media (max-width: 800px) {
    .feature_element {
        flex-basis: 49%;
        padding: 50px 40px;
    }

    .service_elemen {
        flex-basis: 49%;
    }
}

@media (max-width: 600px) {
    .header_top {
        padding: 60px 0 100px 0;
        flex-direction: column;
    }   

    .header_logo {
        margin-bottom: 30px;
    }

    .header h1 {
        font-size: 36px;
    }

    .header h3 {
        font-size: 22px;
    }

    .block_title {
        font-size: 36px;
    }

    .footer_cont {
        padding: 50px 20px;
        flex-direction: column;
    }

    .footer_logo {
        margin-bottom: 30px;
    }
}

@media (max-width: 500px) {
    .feature_element {
        flex-basis: 100%;
    }

    .service_elemen {
        flex-basis: 100%;
    }
}